<div class="trip">
	<%= form_for (@trip ||= @job.trips.new), remote: true do |f| %>

		<span class="label"><%= f.label :description %></span>
    <span><%= f.text_area :description %></span>

		<span class="label"><%= f.label :notes %></span>
		<span><%= f.text_area :notes %></span>

		<span class="label"><%= f.label :time %></span>
		<span><%= f.text_area :time %></span>

		<span class="label"><%= f.label :technician_id %></span>
		<span><%= f.text_field :technician_id %></span>

		<span class="label"><%= f.label :job_id %></span>
		<span><%= f.text_field :job_id %></span>

  	<span><%= f.submit %></span>
	<% end %>
</div>
