<!-- <section class="trip">

		<%= form_for @trip do |f| %>
			<%= render partial: "form", locals: { f: f } %>
		<% end %>

	</div>
</section> -->
<section class="job">
		<%= render partial: "appliances/form" %>
		<%= render partial: "customers/form" %>
		<%= render partial: "trips/form" %>
</section>
