<div class="job">
	<div class="heading">

		<span class="label"><%= f.label :state %></span>
    <span><%= f.text_field : %></span>

		<span class="label"><%= f.label :first_name %></span>
		<span><%= f.text_field :first_name %></span>

		<span class="label"><%= f.label : %></span>
		<span><%= f.text_field :date %></span>

		<span class="label"><%= f.label :author %></span>
		<span><%= f.text_field :author %></span>

		<span class="label"><%= f.label :abstract %></span>
		<span><%= f.text_area :abstract %></span>

	</div>
	<div class="label"><%= f.label :content %></div>
	<div><%= f.text_area :content, rows: 30 %></div>
	<span><%= f.submit %></span>
</div>
