<div class="address">
	<%= form_for (@address ||= @customer.addresses.new), remote: true do |f| %>

		<div class='form-element element-3'>
			<span class="label"><%= f.label :zipcode %></span>
			<span><%= f.text_field :zipcode %></span>
		</div>
		
		<div class='form-element element-14'>
			<span class="label"><%= f.label :city %></span>
			<span><%= f.text_field :city %></span>
		</div>

		<div class='form-element element-12'>
			<span class="label"><%= f.label :address_1 %></span>
	    <span><%= f.text_field :street_1 %></span>
		</div>

		<div class='form-element element-13'>
			<span class="label"><%= f.label :address_2 %></span>
			<span><%= f.text_field :street_2 %></span>
		</div>


		<span><%= f.submit %></span>
	<% end %>
</div>
