<h1>service request</h1>
<section class="job">
  <div class="form-element" id="customer-search">
    <div class="search-container">
      <span class="label"><%= label_tag :search %></span>
      <span class="input-addon">
        <i class='fa fa-user-plus' data-icon="icon-add-customer" id="add-customer-icon"></i>
      </span>
      <%= text_field_tag :customer_search, nil, placeholder: "start typing to search...", class: 'typeahead' %>
    </div>
			<div class="customer-form-container">
				<span class="icon-container"><i class="fa fa-close"></i></span>
				<%= render 'customers/new' %>
				<%= button_tag 'submit', class: 'customer-address-submit' %>
			</div>
  </div>

  <h3>appointment</h3>
  <div class="form-element" id='trip-calendar'>
    <div class="input-group input-append date" id="datetimepicker">
      <span class="label"><%= label_tag :scheduled_for %></span>
      <span><%= text_field_tag :trip_scheduled_for, nil, { class: 'form-control js-timestamp' } %></span>
      <span class="input-group-addon add-on">
        <i class="fa fa-calendar" data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
      </span>
    </div>
  </div>
</section>
